<!DOCTYPE html>
<html>
<head>
  
  <title>
      Instigatr
      <% if (typeof titleSuffix != 'undefined'){ %>
         : <%= titleSuffix %>
      <% } %>
  </title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  
  <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script-->
  <script src="//code.jquery.com/jquery.js"></script>
  
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- scrollbar plugin http://manos.malihu.gr/jquery-custom-content-scroller/ -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css">
  <script type="text/javascript" src="https://ink.global.ssl.fastly.net/3.1.9/js/ink-all.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="//cdn.ink.sapo.pt/3.1.10/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/style/instigatr-ink-main.css">
  <link rel="stylesheet" type="text/css" href="/style/instigatr-debate.css">
  <link rel="stylesheet" type="text/css" href="/style/homepagestyle.css">
  <link rel="stylesheet" type="text/css" href="/style/aboutpage.css">
  <script type="text/javascript" src="/script/postIndex.js"></script>
  <script type="text/javascript" src="/script/layout.js"></script>
  <!--script type="text/javascript" src="/script/debate.js"></script-->


</head>
<body>

<div class="ink-grid">
  <nav id="global-nav" class="ink-navigation">
    <ul class="horizontal menu black">
      <li class="heading"><a id="brand" class="ink-label red" href="/"><strong>INSTIGATR</strong></a></li>
      
      <li class="click-menu-wrapper">
        <a id="nav-button" class="click-menu-button hide-all" href="#"><i class="fa fa-navicon"></i></a>
        <ul id="nav-menu" class="black click-menu">
          <!-- <li><a href="/">Popular</a></li> -->
          
          <li><a href="/chronological">Latest</a></li>
          <li><a href="/allTimeTop">Top Ranked</a></li>
          
          <!-- <li><a href="/chronological">Archive</a>
            <ul class="submenu archive-dropdown">
              <li><a href="/chronological">Chronological</a></li>
              <li class="disabled"><a href="/allTimeTop">All Time Top Ranked</a></li>
            </ul>
          </li> -->
          
          <li><a href="/posts/<%= Math.ceil(Math.random()*postsLngth) %>/show" class="css-nBLink">Random</a></li>
          
          <li>
            <form class="ink-form" method="get" action="/tags/search/" >
              <div id="tag-search" class="control-group">
                <div class="control append-button" role="search">
                  <span><input id="tag-search-term" name="q" type="text" placeholder="Search by tag"></span>
                  <button href="/tags/search/" type="submit" class="ink-button blue" id="tag-search-button"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </li>
          
          <% if (currentUser) { %>
            <li><a href="" class="js-user-create-post click-menu-clear">Start New</a></li>
          <% } %>
        </ul>
      </li>
      
      <ul class="push-right css-dropdown-login horizontal menu black">
        <% if (!currentUser) { %>
          <li class="click-menu-wrapper">
            <a class="click-menu-button" href="#">Login/Signup</a>
            <ul id="login-ui" class="submenu click-menu">
              <form class="ink-form" method="post" action="/auth/login">
                <div class="control-group">
                  <li>
                    <div class="control"><input type="text" name="email" id="email-input" placeholder="E-mail"></div>
                  </li>
                  <li>
                    <div class="control"><input type="password" name="password" id="password-input" placeholder="Password"></div>
                  </li>
                  <li>
                    <div class="control">
                      <button id="login-button" type="submit" class="ink-button blue push-left click-menu-clear">Login</button>
                      <span class="push-right">
                        Not a member? <a id="signup-link" class="click-menu-clear" href="#">Signup!</a>
                      </span>
                      <!-- <button class="ink-button blue css-login-button" id="signupBtn">Signup!</button> -->
                    </div>
                  </li>
                </div>
              </form>
            </ul>
          </li>
          <!--% include ./shared/signup.ejs %-->
        <% } else { %>
        
          <li class="click-menu-wrapper">
            <a class="click-menu-button" href="#"><%= currentUser.name %>  <i class="fa fa-gear"></i></a>
            <ul id="user-options" class="submenu click-menu">
              <li class="js-user-create-post">
                <a class="click-menu-clear" href=""><i class="css-user-create-post fa fa-fire"></i><span class="css-user-create-post">Start New Debate</span></a>
              </li>
              <li class="js-user-my-posts">
                <a class="click-menu-clear" href="/users"><i class="css-user-my-posts fa fa-book"></i><span class="css-user-my-posts">My Debates</span></a>
              </li>
              <li class="js-user-account">
                <a class="click-menu-clear" href=""><i class="css-user-account fa fa-wrench"></i><span class="css-user-account">Account Info</span></a>
              </li>
              <li class="js-user-signout">
                <a class="click-menu-clear" href="/auth/logout"><i class="css-user-signout fa fa-sign-out"></i><span class="css-user-signout">Sign Out</span></a>
              </li>
            </ul>
          </li>
          <!--% include ./shared/userOptions.ejs %-->
          
        <% } %>
      </ul>
    </ul>
  </nav>

  <%- body %>
  
</div>
  
<div id="modal-block">
  <%- include ./shared/signup.ejs %>
  <%- include ./shared/userOptions.ejs %>
</div>
  
<footer id="global-footer" class="content-drawer js-footerSelect">
  <div class="ink-grid">
    <ul class="unstyled inline foot">
      <li class="active" id="aboutLink"><a href="/about">About</a></li>
      <li><a href="https://github.com/PsiRadish/Instigatr"><i class="fa fa-github fa-2x"></i></a></li>
    </ul>
  </div>
</footer>
  
</body>
</html>
