<div class="column-group">
	<div class="all-80">
<% posts.forEach(function(post){ %>
	<div class="css-mainPagePostDiv">
	<span class="push-right goToLink"><a href="/posts/<%= post.id %>/show"><i class="fa fa-arrow-right"></i></a></span>
	<span class="push-left">
	<h4><%= post.totalRating() %></h4>
	</span>
	<span>
	<a href="/posts/<%= post.id %>/show"><%= post.text %></a>
	<br>
	</span>
	<div class="author">
	<p><%= post.user.name %></p>
	</div>
	<div>
		<% post.tags.forEach(function(tag){ %>
			<a href="/tags/<%= tag.id %>">#<%= tag.name %></a>
		<% }) %>
	</div>
	</div>
<% }) %>
</div>
<% if(currentUser){ %>
<div class="css-homeSidebar js-homeSidebar push-right all-10">
	<div><i class="js-usrIconPlus fa fa-plus"></i></div>
	<div class="js-usrIconPncl"><i class="css-usrIconPncl fa fa-pencil"></i></div>
	<div class="js-usrIconBook"><i class="css-usrIconBook fa fa-book"></i></div>
	<div class="js-usrIconWrench"><i class="css-usrIconWrench fa fa-wrench"></i></div>
	<div class="js-usrIconSO"><a href="/auth/logout"><i class="css-usrIconSO fa fa-sign-out"></i></a></div>
</div>
<div class="push-right css-usrTxt all-10">
	<div class="js-usrTxtPncl"><p>Make a new post!</p></div>
	<div class="js-usrTxtBook"><p>See your posts!</p></i></div>
	<div class="js-usrTxtWrench"><p>Settings.</p></i></div>
	<div class="js-usrTxtSO"><p>Logout.</p></i></div>
<% } %>
</div>
</div>