<div class="column-group">
	<div class="all-80">
<% postsSort.forEach(function(post){ %>
	<div class="css-mainPagePostDiv">
	<span class="push-right goToLink"><a href="/posts/<%= post.id %>/show"><i class="fa fa-arrow-right"></i></a></span>
	<span class="push-left">
	<h4><%= post.totalRating() %></h4>
	</span>
	<span>
	<a href="/posts/<%= post.id %>/show"><%= post.text %></a>
	<br>
	</span>
	<div class="author">
	<p><%= post.user.name %></p>
	<p><%= post.createdAt %></p>
	</div>
	<div>
		<% post.tags.forEach(function(tag){ %>
			<a href="/tags/<%= tag.id %>">#<%= tag.name %></a>
		<% }) %>
	</div>
	</div>
<% }) %>
</div>
</div>