<head>
</head>
<div id="debate-page" class="column-group tiny-quarter-horizontal-gutters small-half-horizontal-gutters medium-horizontal-gutters large-horizontal-gutters xlarge-horizontal-gutters back-flush">
  <input type="hidden" id="pId" name="postId" value='<%= post.id %>' >
  <section id="take-sides-column" class="large-25 xlarge-25 medium-25 small-40">
    <div id="post-stuff">
      <h1 title="Or Post, whatever.">Subject</h1>
      <div id="post-content-box">
        <!-- <p id="debate-subject">Elsanna OTP FTW!!!!!!!!!1111</p> -->
        <p id="debate-subject"><%= post.text %></p>
        <b class="author"><%= post.user.name %></b>
      </div>
    </div>
    
    <div id="must-be-logged-in" class="disabled">
      <div id="rate-post" class="subsection">
        <h4>Vote on this debate!</h4>
        <div id="voteDiv" class="column-group">
          <div class="all-50">
              <button class="ink-button push-right" id="upVoteBtn"><i class="fa fa-thumbs-up"></i></button>
          </div>
          <div class="all-50">
             <button class="ink-button" id="downVoteBtn"><i class="fa fa-thumbs-down"></i></button>
          </div>
        </div>
      </div>
      
      <div id="choices" class="subsection">
        <!-- Only one of these headings visible at a time. -->
        <div id="headings-roll">
          <h3 id="heading-choice-made-left">You Are For!</h3>  <!-- visibility: hidden in CSS -->
          <h3 id="heading-choice-not-made">Choose a Side?</h3>
          <h3 id="heading-choice-made-right">You Are Against!</h3>  <!-- visibility: hidden in CSS -->
        </div>
        
        <div id="choice-roll">
          
          <div id="wanna-join-for" class="wanna-join">  <!-- visibility: hidden in CSS -->
            <div class="not-queued"
              <b>Wanna join the debate?</b>
              <a class="enter-queue">Enter the queue</a>
            </div>
            <div class="queued hide-all">
              You are <span class="ordinal"></span> in line.
            </div>
            <div class="champion hide-all">
              You are currently arguing for your side!
            </div>
          </div>
          
          <div id="side-for">
            <a class="choose-side ink-button green" href="#">
              For! <i class="fa fa-thumbs-up"></i>
            </a>
            <a class="change-mind" href="#">Change your mind?</a>  <!-- visibility: hidden in CSS -->
          </div>
          <div id="side-against">
            <a class="choose-side ink-button red push-right" href="#">
              <i class="fa fa-thumbs-down fa-flip-horizontal"></i> Against!
            </a>
            <a class="change-mind push-right" href="#">Change your mind?</a>  <!-- visibility: hidden in CSS -->
          </div>
          
          <div id="wanna-join-against" class="wanna-join">  <!-- visibility: hidden in CSS -->
            <div class="not-queued"
              <b>Wanna join the debate?</b>
              <a class="enter-queue">Enter the queue</a>
            </div>
            <div class="queued hide-all">
              You are <span class="ordinal"></span> in line.
            </div>
            <div class="champion hide-all">
              You are currently arguing for your side!
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    
    <div id="champions" class="column-group subsection">
      <div id="champ-for">
        <h5>Currently arguing <span class="green">For</span>:</h5>
        <h6 class="author">...</h6>
        <div class="confidence hide-all">
          <div class="large-50 xlarge-50 medium-50 small-50 align-center">
            <a class="vote-kudos" href="#">Kudos!</a>
          </div><div class="large-50 xlarge-50 medium-50 small-50 align-center">
            <a class="vote-kick" href="#">Kick!</a>
          </div>
        </div>
      </div>
      <div id="champ-against">
        <h5>Currently arguing <span class="red">Against</span>:</h5>
        <h6 class="author">...</h6>
        <div class="confidence hide-all">
          <div class="large-50 xlarge-50 medium-50 small-50 align-center">
            <a class="vote-kudos" href="#">Kudos!</a>
          </div><div class="large-50 xlarge-50 medium-50 small-50 align-center">
            <a class="vote-kick" href="#">Kick!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- COLUMN 2 -->
  <section id="argue-column" class="large-35 xlarge-35 medium-35 small-60 tiny-100">
    
    <!-- <h2>Debate</h2> -->
    <ul id="chat-output" class="scroll">
      
      <!-- <li class="debate-message message-for">
        <h6 class="author">asynca</h6>
        <span>You are dumb.</span>
      </li>
      
      <li class="debate-message message-against">
        <h6 class="author">TerriblePerson</h6>
        <span>I <em>am</em> dumb.</span>
      </li> -->
      
      <% post.messages.forEach(function(message) { %>
        <li class="debate-message message-<%= message.side %>">
          <h6 class="author"><%= message.user.name %></h6>
          <span><%= message.content %></span>
        </li>
      <% }); %>
      <!-- <hr> -->
    </ul>
    
    <div id="chat-box-container">
      <form>
        <textarea id="chat-box" class="chat-scroll" disabled="disabled"></textarea>
      </form>
    </div>
  
  </section>
  
  <section id="news-column" class="large-40 xlarge-40 medium-40">
  <h2>Related News</h2>
<!-- testing search queries for news API only -->
    
    <div class="search-news" id="srchNws">
      <form class="ink-form srchForm" method="get" action="/posts/<%= post.id %>/show" >
        <div class="control-group css-nwsSrchDiv">
          <input id="srchTrm" name="srchTrm" type="text" class="form-control" placeholder="Search">
          <button type="submit" class="ink-button blue" id="newsSrchBtn"><i class="fa fa-search"></i></button>
          </div>
      </form>
    </div>

    <div id="results-news-headlines" class="results-news-headlines scroll">
      <div class="column-group" id="newsListings">
       <% if (typeof newsJSON !== "undefined") { %>
          <% if (newsJSON.response){ %> <!-- NYT Headlines -->
               <% newsJSON.response.docs.forEach(function(doc) {  %>
                      <div class="thumbNail all-20">
                          <% if (doc.multimedia) { %>
                              <% var imageThumb %>
                              <% var baseURL = "http://graphics8.nytimes.com/" %>
                              <% var width = Infinity; %>

                              <% doc.multimedia.forEach(function(photo){ %>
                                    <%if (photo.width < width) { %>
                                        <% imageThumb = baseURL + photo.url %>
                                        <% width = photo.width; %>
                                    <% }; %> <!-- if (image.width) statement -->
                              <% }) %> <!-- end forEach Loop -->

                              <img src="<%= imageThumb %>">
                          <% } %>

                      </div>

                      <div class="article all-80">
                          <p><a href="<%- doc.web_url %>" target="_blank">
                          <b><%- doc.headline.main %></b><br>
                          <%- doc.snippet %></a></p>
                      </div>
               <% }) %> <!-- end forEach Loop -->
           <% } %> <!-- end if(newsJSON.response) statement -->
       <% } %> <!-- end if(typeof) statement -->
       </div>
    </div>
    
  <!-- end testing search queries for news API -->
  </section>

</div>
