<head>
</head>
<div id="debate-page" class="column-group tiny-quarter-horizontal-gutters small-half-horizontal-gutters medium-horizontal-gutters large-horizontal-gutters xlarge-horizontal-gutters back-flush">
  
  <section id="take-sides-column" class="large-25 xlarge-25 medium-25 small-40">
    <div id="post-stuff">
      <h1 title="Or Post, whatever.">Subject</h1>
      <div id="post-content-box">
        <!-- <p id="debate-subject">Elsanna OTP FTW!!!!!!!!!1111</p> -->
        <p id="debate-subject"><%= post.text %></p>
        <b class="author"><%= post.user.name %></b>
      </div>
    </div>

    <div>
    
    </div>
    <div id="choices">
      <!-- Only one of these headings visible at a time. -->
      <div id="headings-roll">
        <h3 id="heading-choice-made-left">You Are For!</h3>  <!-- visibility: hidden in CSS -->
        <h3 id="heading-choice-not-made">Choose a Side?</h3>
        <h3 id="heading-choice-made-right">You Are Against!</h3>  <!-- visibility: hidden in CSS -->
      </div>
      
      <div id="choice-roll">
        
        <div id="wanna-join-left">  <!-- visibility: hidden in CSS -->
          <b>Wanna join the debate?</b>
          <a class="enter-queue">Enter the queue</a>
        </div>
        
        <div id="side-for">
          <a class="choose-side ink-button green" href="#">
            For! <i class="fa fa-thumbs-up"></i>
          </a>
          <a class="change-mind" href="#">Change your mind?</a>  <!-- visibility: hidden in CSS -->
        </div>
        <div id="side-against">
          <a class="choose-side ink-button red push-right" href="#">
            <i class="fa fa-thumbs-down fa-flip-horizontal"></i> Against!
          </a>
          <a class="change-mind push-right" href="#">Change your mind?</a>  <!-- visibility: hidden in CSS -->
        </div>
        
        <div id="wanna-join-right">  <!-- visibility: hidden in CSS -->
          <b>Wanna join the debate?</b>
          <a class="enter-queue">Enter the queue</a>
        </div>
        
      </div>
      
    </div>
    
    <div id="hows-my-arguing">
      <h4>Currently arguing your side:</h4>
      <h6 class="author">&lt;NOT IMPLEMENTED&gt;</h6>
      <a class="vote-kick" href="#hows-my-arguing">Vote to kick</a>
    </div>
  </section>
  
  <section id="argue-column" class="large-35 xlarge-35 medium-35 small-60 tiny-100">
  
    <!-- <h2>Debate</h2> -->
    <ul id="chat-output" class="scroll">
    
      <!-- <li class="debate-message message-for">
        <h6 class="author">asynca</h6>
        <span>You are dumb.</span>
      </li>
      
      <li class="debate-message message-against">
        <h6 class="author">TerriblePerson</h6>
        <span>I <em>am</em> dumb.</span>
      </li>
      
      <li class="debate-message message-for">
        <h6 class="author">asynca</h6>
        <span>BALLS BALLS BALLS</span>
      </li>
      
      <li class="debate-message message-against">
        <h6 class="author">TerriblePerson</h6>
        <span>Ah, yes, that's a good point.</span>
      </li>
      
      <li class="debate-message message-for">
        <h6 class="author">asynca</h6>
        <span>Why, thank you.</span>
      </li>
      
      <li class="debate-message message-for">
        <h6 class="author">asynca</h6>
        <span>BALLS BALLS BALLS BALLS</span>
      </li>
      
      <li class="debate-message message-against">
        <h6 class="author">TerriblePerson</h6>
        <span>A pox on your first-born!</span>
      </li> -->
      
      <% post.messages.forEach(function(message) { %>
        <li class="debate-message message-<%= message.side %>">
          <h6 class="author"><%= message.user.name %></h6>
          <span><%= message.content %></span>
        </li>  
      <% }); %>
      <!-- <hr> -->
    </ul>
    
    <div id="chat-box-container">
      <form>
        <textarea id="chat-box" class="chat-scroll" disabled="disabled"></textarea>
      </form>
    </div>
    
  </section>
  
  <section id="news-column" class="large-40 xlarge-40 medium-40">
    <h2>Related News</h2>
  </section>

</div>
